@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$font-family-sans-serif: "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;

$gray-750: darken($gray-800, 5%);
$green: #41b883;
$primary: #41b883;
$theme-colors: (
    "primary": $primary,
);

$jumbotron-bg: $gray-800;
$jumbotron-padding: 0.5em;
$link-color: $green;
$body-bg: $gray-900;
$body-color: $gray-200;

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-outline-variant($value);
        &:not(:hover) {
            color: $value !important;
        }
    }
}
