{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0"
       style="color:#333;background:#fff;padding:0;margin:0;width:100%;font:15px 'Helvetica Neue',Arial,Helvetica">
    <tbody>
    <tr width="100%">
        <td valign="top" align="left" style="background:#f0f0f0;font:15px 'Helvetica Neue',Arial,Helvetica">
            <table style="border:none;padding:0 18px;margin:50px auto;width:500px">
                <tbody>
                <tr width="100%" height="57">
                    <td valign="top" align="left"
                        style="border-top-left-radius:5px;border-top-right-radius:5px;background:#fff;padding:12px 18px;text-align:center">
                        <a href="#">
                            <img height="37" width="163" title="AnySync"
                                 src="https://any-sync.s3.amazonaws.com/static/img/email_logo.png"
                                 style="font-weight:bold;font-size:30px;color:#158CBA;vertical-align:top">
                        </a>
                    </td>
                </tr>

                <tr width="100%">
                    <td valign="top" align="left"
                        style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:#fff;padding:18px">
                        <h1 style="font-size:20px;margin:0;color:#555">{% block title %}{% endblock %}</h1>

                        <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#333">
                            {% block message %}{% endblock %}
                        </p>

                        <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#333">
                            <a href="{{ url }}" target="_blank"
                               style="border-radius:5px;border-bottom:5px solid #127ba3;background:#158CBA;color:#fff;display:block;font-weight:700;font-size:16px;line-height:1.25em;margin:24px auto 24px;padding:10px 18px;text-decoration:none;width:180px;text-align:center">
                                {% block button %}{% endblock %}
                            </a>
                        </p>

                        <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#939393;margin-bottom:0">
                            If you're sure it's some kind of mistake, just ignore this email
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
