{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AnySync &ndash; {% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="text-primary">
                <a href="/" style="text-decoration: none;">
                    AnySync <span class="d-sm-none d-md-inline">Network</span>
                </a>
            </h1>
            <nav class="menu py-2">
                <ul class="nav nav-pills">
                    {% block links %}
                        {% include 'core/links.html' %}
                    {% endblock %}
                </ul>
            </nav>
        </div>

        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <h5 class="mb-0">Copyright &copy; <a href="https://github.com/AndBondStyle">AndBondStyle</a> 2018</h5>
        </div>
    </footer>

    <!--JavaScript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/core.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
