{% load widget_tweaks %}

<div class="form-group">
    <div class="input-group">
        {% if icon %}
            <div class="input-group-prepend">
                <span class="input-group-text {% if field.errors %}border-danger{% endif %}">
                    <i class="fa fa-{{ icon }}"></i>
                </span>
            </div>
        {% endif %}
        {% with WIDGET_ERROR_CLASS='is-invalid' %}
            {% render_field field class+='form-control' placeholder=field.label %}
        {% endwith %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
</div>
