<li class="nav-item">
    <a class="nav-link {% if section == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if section == 'channels' %}active{% endif %}" href="{% url 'home' %}">Channels</a>
</li>
<li class="nav-item">
    <a class="nav-link {% if section == 'upload' %}active{% endif %}" href="{% url 'home' %}">Upload</a>
</li>

{% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link {% if section == 'auth' %}active{% endif %}" href="{% url 'auth' %}">Sign in</a>
    </li>
{% endif %}
