{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}Set password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="form-column text-center">
                    <h2 class="display-4 mb-3">Set password</h2>
                    <form action="." method="POST" novalidate>
                        {% csrf_token %}
                        {% for error in signin_form.non_field_errors %}
                            <p class="text-danger mb-2">{{ error }}</p>
                        {% endfor %}
                        {% include 'core/field.html' with field=form.new_password1 icon='lock' %}
                        {% include 'core/field.html' with field=form.new_password2 icon='lock' %}
                        <div class="form-group">
                            <input type="submit" name="submit" value="send" class="btn btn-primary btn-block">
                        </div>
                    </form>
                    <p class="text-muted">Hint: try not to forget your password</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
