{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="header">
        <h1 class="text-primary">
            <a href="/" style="text-decoration: none;">
                AnySync <span class="d-sm-none d-md-inline">Network</span>
            </a>
        </h1>
        <nav class="menu py-2">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Upload</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron text-white" style="background: url('{% static 'img/gandalf.png' %}') no-repeat right;">
        <h1 class="display-4">Welcome to AnySync</h1>
        <p class="lead">Synchronize your favourite media across your favourite devices</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up</a></p>
    </div>

    <div class="row cards">
        {% include 'card.html' %}
        {% include 'card.html' %}
        {% include 'card.html' %}
    </div>

    <footer class="footer text-center">
        <h5>Copyright &copy; <a href="https://github.com/AndBondStyle">AndBondStyle</a> 2018</h5>
    </footer>
{% endblock %}
